* {
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.bg {
  background-color: green;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  margin: 10px;
}

.heading {
  color: pink;
  font-weight: 300;
}
